.header {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 15rem;
    
  
}